.about-intro {
    background-color: #004262;
    color: WHITE;
    font-size: 25px;
    padding: 10%;
}

.juul-tech {
    font-size: 34px;
    padding-bottom: 3%;
}

.aboutjumbopic {
    height: 350px;
    width: 900px;
}
